mixin createDropdown( {items, type, isExpand, isSplitItemsSum, spaceForButtons, menuMarginBottom} )
	
	if !items
		-items = []

	- let classes = ["iqdropdown"]
		- classes.push("js-iqdropdown")
		if isExpand
			- classes.push("menu-open")
		if menuMarginBottom
			- classes.push("iqdropdown_bottom160")

	- let classMenu = ["iqdropdown-menu"]
		if spaceForButtons
			- classMenu.push("iqdropdown-menu_buttonspace")


	div(class = classes data-type=type || "guests" data-splitsum=isSplitItemsSum)
		p.iqdropdown-selection.js-iqdropdown-selection

		div(class = classMenu)
			each item in items
				div.iqdropdown-menu-option(data-id=item.dataId data-defaultcount=item.dataDefault || 0)
					div
						p.iqdropdown-item= item.name