
mixin createAllNav(arrAllNavItems)
	-
		var className ='all-nav'

	div(class=className)
		each i in arrAllNavItems
			div(class=className+'__group')
				h3(class=className+'__title')= i.titleText
				ul(class=className+'__list')
					each j in i.items					
						li(class=className+'__item')
							a(class=className + '__link' href=j.href)= j.text