
mixin createSubscribe(titleText, text)
	-
		var className ='subscribe'

	div(class=className)
		h3(class=className+'__title')= titleText
		p(class=className+'__text')= text
		
		-
			var classNameConfirm = 'confirm-'+className

		form(class=classNameConfirm action='./change-me' method='get')
			input(class=classNameConfirm+'__input' type='email' placeholder='Email')
			input(class=classNameConfirm+'__submit' type='submit' value='')