//- тут можно доавить цикл для количества гостей, чтобы не писать вручную, а передавать в миксине
//- а вот тут name всегда один и тот же передается, а если там 2 формы с guests-quantity, как их отличать??

mixin createGuestsQuantity(id, text)
	- var classname = 'guests-quantity'
	div(class=classname)
		label(class=classname+'__text')= text
		select(class=classname+'__select-field' name=classname)
			option(class=classname+'__option-field' value='' disabled selected) Сколько гостей
			option(class=classname+'__option-field' value='1') 1 гость
			option(class=classname+'__option-field' value='2') 2 гостя
			option(class=classname+'__option-field' value='3') 3 гостя