
//- Create list div>ul> n*(li>a)
mixin createList(classname, arrayItems)
	ul(class= classname+"__list")
		//-if needLinksInside
			each i in arrayItems
				+createListItems(classname, i.url, i.text, i.needPseudoForLink, i.linkModifier)




//- Create logo div>a>img
mixin createLogo(classname, srcImg)
	div(class=classname)
		a(class=classname+"__link" href = "./change-me")
			img(class=classname+"__img" src=srcImg alt="Logotype")







//----------createAnyTag----------
//- tag>text

mixin createAnyTag(tag, text, classname)
	- var newTag = '<'+ tag +' class="'+classname+'"' + '>'+text+'</'+ tag +'>'
	!=newTag

//----------createAnyTag----------







//----------может, это потом понадобится----------

//- div>tag>text
mixin createTag(tag, text)
	- var mytag = '<'+tag+'>'
	div !{mytag} 
		| !{text}

