
//- Create menu items li>a
mixin createListItems(classname, url, text, needPseudoForLink, linkModifier)
	li(class= classname+"__item")
		-
			var classnameLink = classname+"__link"
			classnameLink += needPseudoForLink ? " " + classname+"__link_pseudo" : ""
			classnameLink += linkModifier ? " " + classnameLink + "_" + linkModifier : ""
		
		a(class= classnameLink href= url)= text



//- Create list div>ul> n*(li>a)
mixin createList(classname, arrayItems)
	ul(class= classname+"__list")
		each i in arrayItems
			+createListItems(classname, i.url, i.text, i.needPseudoForLink, i.linkModifier)



//- Create button a>span
mixin createButton(classname, text, modifier)
	- 
		var classnameLink = classname
		classnameLink += modifier ? " site-button site-button_"+modifier : " site-button"

	a(class=classnameLink  href="./change-me")
		span(class=classname+ "__text")= text




//- Create logo div>a>img
mixin createLogo(classname, srcImg)
	div(class=classname)
		a(class=classname+"__link" href = "./change-me")
			img(class=classname+"__img" src=srcImg alt="Logotype")




//- ****** UIKit ******

//- Create rectangles for UIKit div
mixin createRect(classname, colorModifier, colorName, colorCSS)
	div(class=classname+'-wrapper')
		- 
			var classnameModificator = classname
			classnameModificator += colorModifier ? " "+classname+"_"+colorModifier : ""
		div(class=classnameModificator)
		b(class=classname+'__name')= colorName
		p(class=classname+'__desc')= colorCSS	



//- tag>text
mixin createTag(tag, text)
	- var mytag = '<'+tag+'>'
	div !{mytag} 
		| !{text}
