
mixin createRoomInfo(classname, roomNumber, type, price, blockModifier)
	-
		var classnameModifier = classname
		classnameModifier += blockModifier ? " "+classname+"_"+blockModifier : ""

	div(class=classnameModifier)
		div(class=classname+'__number') № 
			span= roomNumber
		div(class=classname+'__type')= type
		div(class=classname+'__price') #{price}&#8381; 
			span в сутки