mixin createSlider(classname, arraySlides, needDots, needPrevNext)

	- var sliderClassName = 'sliders';

	div(class = sliderClassName + ' ' + classname)
		each i in arraySlides
			div(class=sliderClassName+'__item')
				img(class=sliderClassName+'__picture'  width='320px' src=i.src  alt=i.alt)

		if (needPrevNext)
			a(class=sliderClassName+'__prev') &#10094;
			a(class=sliderClassName+'__next') &#10095;

		if (needDots)
			div(class=sliderClassName+'-dots')
				each i in arraySlides
					span(class=sliderClassName+'-dots__item')


